@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white bg-cover bg-fixed dark:bg-gray-950;
  background-image:
    linear-gradient(to right, #fffb, #fffb), url(/uke-chaos.jpg);

  @media (prefers-color-scheme: dark) {
    background-image:
      linear-gradient(to right, #030712b0, #030712b0), url(/uke-chaos.jpg);
    color-scheme: dark;
  }
}
